/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom_container {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}

.custom_container .title_page {
  text-transform: uppercase;
  color: #333333;
  font-weight: bolder;
}
